[entrez]
email = PROVIDE YOUR EMAIL ADDRESS
api_key = PROVIDE YOUR ENTREZ EUTILS API KEY
requests_per_second = 200
tool = biopython

[query_settings]
query = QUERY WORDS YOU WANT TO SEARCH ON PUBMED (e.g. plant AND cytochrome P450)

[journal_list]
journallist = main_journalList.tab
reviewfilter = yes

[keywords_list]
keywords_list = main_keywordsList.tab.fil

[use_elink]
use_elink = no